*{
text-align: center;}
a{
    
    color: white;
    margin: 30px;
    margin-bottom: 15px;
}
h1{
    
    display: inline-block;
    color: white;
    margin-right: 65rem;
    
}
nav{
    
    align-items: center;
    text-align: center;
    background-color: rgb(56, 54, 54);
    
}
p{
      padding:10px;
    color: white;
    display: inline-block;
}
